body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

#container {
    display: flex;
}

#animated-text {
    font-size: 72px;
    font-weight: bold;
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
}

#square-bracket-big {
    font-size: 144px;
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
}

#square-bracket-small {
    font-size: 72px;
    color: black;
    font-family: 'Russo One', sans-serif;
    position: relative;
}

#left-static, #right-static {
    font-size: 36px;
    color: black;
    font-family: 'Russo One', sans-serif;
}

#left-static {
    margin-right: 10px;
}

#right-static {
    margin-left: 10px;
}
